label {
	color: white;
}

#searchbutton {
	margin-top: 25px;
}

a.navbar-brand {
	color: white;
	margin-top: 10px;
}

.imgClass {
	width: 200px;
}

.btnClass {
	
/*	position: relative;
    bottom: 8px;
    right: 16px;
    font-size: 18px;*/
}

