
body {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 100px;
}

img {
	align-content: center;
	height: 400px;

}

#Logo_index {
	padding-top: 20px;
}

.row {
	text-align: center;
	font-family:'Russo One', sans-serif; 
}

.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black background-color:rgba(255, 255, 255, .4)
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
    color: white !important;
}

.asteriskField {
    color: red;
}

label {
	color: white;
}

#searchbutton {
	margin-top: 25px;
}

a.navbar-brand {
	color: white;
	margin-top: 10px;
}

.imgClass {
	width: 300px;
}
